* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #555;
    font-family: Open Sans;
    position: relative;
    height: 100vh;
    font-weight: 300;
    background-color: rgb(211, 211, 211);

}
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th, caption {
    border: 1px solid rgb(190,190,190);
    padding: 5px 5px;
  }
  
  th, caption {
    background-color: rgb(235,235,235);
  }
  
  td, caption {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 7px;
  }
  .root{
    width: 620px;
    background-color: rgb(110, 110, 110);
    margin: auto;
    padding: 1px 8px 1px 8px;


  }

  .scores,.hours,.result,.cost{
    margin: 8px auto;
    width: 100%;
  }
  .submitSix, .submitSixFive, .submitSeven, .submitSevenFive{
      color: rgb(236, 236, 236);
  display: inline-block;
  margin: auto;
  padding: 5px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  width: 23.5%;
  height: 25px;
    background-color:  rgb(110, 110, 110);
    font-family: Lato;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300; 
    transition: background-color 0.3s, color 0.3s;
    text-align: center;

}
#selectLevelBtns{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    /* background-color:  rgb(110, 110, 110); */

}

.initCalc, .link{
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    background-color:  rgb(110, 110, 110);
    height: 30px;
    transition: background-color 0.3s, color 0.3s;
    color: rgb(10, 243, 29);
    width: 299.5px;
    margin: 0 0 9px 0;
    text-align: center;
    border: 1px solid rgb(0, 184, 15);
    padding: 5px 4px 5px 4px;
    font-size: 0.8rem;
}
.link{
  font-weight: bold;
  color: rgb(255, 19, 19);
  border: 1px solid rgb(233, 0, 0);

}
 #submitBtn{
        color: rgb(236, 236, 236);
      background-color:  rgb(110, 110, 110);
      font-family: Lato;
      text-transform: uppercase;
      cursor: pointer;
      /* font-weight: 300; */
      transition: background-color 0.3s, color 0.3s;
}
input{
    text-align: center;

}
.container{
  display: block;
  width: 75%;
  margin: 20px auto;
}
.first-letter {
  font-size: 35px;
}
  